#account {
  padding-top: 165px;
}

#pfp {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: var(--secondary);
  object-fit: contain;
  object-position: center;
}

#account-pfp-change {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  background-image: url("/media/image/icons/image.png");
  background-size: 30px;
  background-position: center;
  opacity: 0;
  background-repeat: no-repeat;
}

#account-pfp-change:hover {
  opacity: 1;
}

#displayName {
  position: absolute;
  top: 5px;
  left: 55px;
  background: none;
  padding: 0;
  width: calc(100% - 55px);
  font-size: 20px;
  height: 20px;
  line-height: 15px;
  border: none;
  border-bottom: 2px solid var(--light-text);
}

#username {
  position: absolute;
  top: 30px;
  left: 55px;
}

#bio {
  position: absolute;
  top: 55px;
  left: 0;
  width: calc(100% - 10px);
  height: 95px;
  padding: 5px;
  background: var(--main);
  border: none;
  resize: none;
  border-radius: 5px;
}

.context, .arrow {
  display: inline-block;
  width: 1em;
  vertical-align: middle;
}

.option {
  position: relative;
  margin-bottom: 5px;
  height: fit-content;
}

.option label {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%) scale(0.5);
}

.option.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.option select, .option button, .option input {
  width: 100px;
  height: 18px;
  background: var(--background);
  border: none;
  border-bottom: 2px solid var(--light-text);
  font-weight: bold;
  text-align: left;
  border-radius: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.option input[type="color"] {
  border: none;
}

/* Switch script made by https://www.w3schools.com, modified by me */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--highlights);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* End of scripts */

.toggle-content {
  height: 0;
  min-height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.option .toggle {
  display: block;
  width: 100%;
  display: relative;
  margin-bottom: 5px;
  font-weight: bold;
}

.option .toggle .arrow {
  position: absolute;
  top: 2.5px;
  right: 0;
  transition: transform 0.3s ease-in-out;
}

.cards {
  top: 50px;
}