:root {
  --main: #1E2124;
  --secondary: #26292E;
  --text: #F1F1F1;
  --light-text: #AAAAAA;
  --background: #131517;
  --highlights: #D80448;
  --warn: #E6D581;
  --success: #5BBD5B;
  --danger: #E60B42;
}

:root[theme="mint-chip"] {
  --main: #1E2124;
  --secondary: #26292E;
  --text: #F1F1F1;
  --light-text: #AAAAAA;
  --background: #131517;
  --highlights: #13ECAF;
  --warn: #E6D581;
  --success: #5BBD5B;
  --danger: #E60B42;
}

:root[theme="tundra"] {
  --main: #1E2124;
  --secondary: #26292E;
  --text: #F1F1F1;
  --light-text: #AAAAAA;
  --background: #131517;
  --highlights: #13CBEC;
  --warn: #E6D581;
  --success: #5BBD5B;
  --danger: #E60B42;
}

:root[theme="lavander"] {
  --main: #1E2124;
  --secondary: #26292E;
  --text: #F1F1F1;
  --light-text: #AAAAAA;
  --background: #131517;
  --highlights: #673ab1;
  --warn: #E6D581;
  --success: #5BBD5B;
  --danger: #E60B42;
}

:root[theme="midnight"] {
  --main: #0f0f0f;
  --secondary: #191919;
  --text: #ffffff;
  --light-text: #ffffff;
  --background: #000000;
  --highlights: #000000;
  --warn: #E6D581;
  --success: #5BBD5B;
  --danger: #E60B42;
}

:root[theme="sunrise"] {
  --main: #1E2124;
  --secondary: #26292E;
  --text: #F1F1F1;
  --light-text: #AAAAAA;
  --background: #131517;
  --highlights: #f4a261;
  --warn: #E6D581;
  --success: #5BBD5B;
  --danger: #E60B42;
}

:root[theme="bubble-gum"] {
  --main: #1E2124;
  --secondary: #26292E;
  --text: #F1F1F1;
  --light-text: #AAAAAA;
  --background: #131517;
  --highlights: #FF7DAB;
  --warn: #E6D581;
  --success: #5BBD5B;
  --danger: #E60B42;
}

:root[theme="pretzel"] {
  --main: #1E2124;
  --secondary: #26292E;
  --text: #F1F1F1;
  --light-text: #AAAAAA;
  --background: #131517;
  --highlights: #4f3c2f;
  --warn: #E6D581;
  --success: #5BBD5B;
  --danger: #E60B42;
}

::-moz-selection {
  color: var(--text);
  background: var(--highlights);
  opacity: 0.9;
  padding: 2px;
  border-radius: 3px;
}

::selection {
  color: var(--text);
  background: var(--highlights);
  opacity: 0.9;
  padding: 2px;
  border-radius: 3px;
}

* {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  transition: all 0.1s ease-in-out;
  outline: none;
  scroll-behavior: smooth;
  color: var(--text);
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

reply {
  font-size: 12px;
  marin-bottom: 1px;
  color: var(--highlights);
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--main);
  overflow-x: hidden;
}

html.desktopApp {
  height: calc(100% - 30px);
}

button {
  background-color: var(--highlights);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  min-width: 75px;
  font-weight: bold;
  color: var(--text);
}

button:active {
  transform: scale(0.95);
}

input[type=text], input[type=color], input[type=password], #msginp {
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  width: 200px;
  font-weight: bold;
  margin: 5px;
  color: var(--text);
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--highlights);
  color: var(--text);
}

nav {
  height: 50px;
  width: calc(100% - 10px);
  background-color: var(--highlights);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  z-index: 999;
  color: var(--text);
  padding: 0 5px;
}

.desktopApp nav {
  top: 30px;
}

nav img {
  width: 30px;
  height: 30px;
  margin: 5px;
}

#profileNav {
  border-radius: 50%;
}

nav a {
  text-decoration: none;
  color: var(--text);
}
  
#home {
  margin: 0;
  width: 120px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  display: flex;
  color: var(--text);
}

.lined {
  text-align: center;
  position: relative;
  font-size: 30px;
  background-color: var(--main);
  width: fit-content;
  padding: 10px;
  font-weight: bold;
  color: var(--text);
}

.lined::after {
  content: '';
  display: block;
  width: 100vw;
  height: 3px;
  background-color: var(--text);
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  color: var(--text);
}

.center {
  margin-top: 100px;
  color: var(--text);
}

.desktopApp .center {
  margin-top: 130px;
}

.bottom-nav {
  position: fixed;
  width: calc(100% - 5px);
  height: fit-content;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  z-index: 999;
  border-top: 2px solid var(--highlights);
  padding: 5px 2.5px;
  bottom: 0;
  left: 0;
}

#msginp {
  width: calc(100% - 115px);
  height: 20px;
  line-height: 20px;
  max-height: 80px;
  color: var(--text);
  border-radius: 5px;
  padding-right: 105px;
  font-weight: normal;
  resize: none;
}

.bottom-nav .icons {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 10px;
}

#msginp:focus {
  box-shadow: none;
}

.icon {
  width: 18px;
  height: 18px;
  color: var(--text);
}

.icon:active {
  transform: scale(0.95);
}

#log {
  height: calc(100vh - 122px);
  width: 100vw;
  margin-top: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 20px;
}

.desktopApp #log {
  margin-top: 80px;
  height: calc(100vh - 152px);
  padding-bottom: 20px;
}

.msgr {
  padding: 0px 5px;
  width: calc(100% - 10px);
  display: block;
  cursor: normal;
  position: relative;
  height: fit-content;
  color: var(--text);
}

.msgr.msgr-pfp {
  padding: 0px 5px;
  padding-left: 55px; 
  width: calc(100% - 60px);
  display: block;
  cursor: normal;
  position: relative;
  height: fit-content;
  color: var(--text);
}

.msgr.spacer {
  margin-top: 20px;
}

.top .pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 0;
  z-index: 100;
}

.top {
  margin-top: 5px;
}

a {
  color: var(--highlights);
}

.lt {
  color: var(--light-text);
}

.none {
  display: none;
}

.lgin {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}

.desktopApp .lgin {
  top: 130px;
}

.lgin button {
  width: calc(50% - 3px);
  margin: 0;
}

.lgin input {
  margin: 0;
  margin-bottom: 10px;
}

.lgin input {
  width: calc(100% - 12px);
}

.emoji {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 2px;
}

.notif {
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 75px;
  max-width: 275px;
  min-height: 30px;
  max-height: 100px;
  background-color: var(--main);
  display: flex;
  align-items: center;
  color: var(--text);
  justify-content: center;
  font-weight: bold;
  z-index: 999;
  animation: fadein 0.1s;
  padding: 2.5px 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 2px var(--text);
}

.desktopApp .notif {
  top: 105px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chooser {
  position: fixed;
  bottom: 60px;
  right: 5px;
  background-color: var(--background);
  height: 240px;
  width: 400px;
  border-radius: 10px;
  overflow: auto;
  animation: swipeup 0.4s ease-out;
  scrollbar-width: none;
  z-index: 500;
  box-shadow: 0 0 0 2px var(--highlights);
}

.mobile .chooser {
  position: fixed;
  bottom: 52px;
  left: 0;
  background-color: var(--background);
  height: 240px;
  width: 100%;
  border-radius: 0px;
  overflow: auto;
  animation: mobileswipeup2 0.4s ease-out;
  scrollbar-width: none;
  z-index: 500;
  box-shadow: 0 0 0 2px var(--highlights);
}

.emoji-list {
  padding-left: 40px;
  width: 360px;
}

.mobile .emoji-list {
  padding-left: 40px;
  width: calc(100% - 40px);
}

.list-item {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.list-item:hover {
  background: var(--main);
}

.list-item:active {
  width: 25px;
  height: 25px;
  padding: 7.4px;
}

@keyframes swipeup {
  from {
    bottom: -100%;
  } to {
    bottom: 60px;
  }
}

@keyframes swipedown {
  from {
    bottom: 60px;
  } to {
    bottom: -100%;
  }
}

@keyframes mobileswipeup {
  from {
    bottom: -100%;
  } to {
    bottom: 0;
  }
}

@keyframes mobileswipedown {
  from {
    bottom: 50px;
  } to {
    bottom: -100%;
  }
}

@keyframes mobileswipeup2 {
  from {
    bottom: -100%;
  } to {
    bottom: 50px;
  }
}

a {
  margin: 0;
}

reply {
  margin: 0;
}

warn {
  width: fit-content;
  max-width: 300px;
  margin: 5px;
  color: var(--warn);
  box-shadow: 0 0 0 2px var(--warn);
  padding: 5px;
  border-radius: 5px;
  text-size: 17px;
  display: block;
}

.messageContent * {
  margin: 0;
}

.messageContent br {
  margin: 0;
  line-height: 0;
  height: 0;
  margin: 0;
}

reply * {
  color: var(--highlights);
}

reply {
  display: block;
  width: 100%;
}

.replyBlock {
  width: 100%;
  display: block;
}

.cards {
  width: 500px;
  height: calc(100% - 90px);
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 5px;
}

.mobile .cards {
  width: calc(100% - 10px);
}

.desktopApp .cards {
  top: 120px;
  height: calc(100% - 120px);
}

.chat-card {
  width: calc(100% - 20px);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--background);
  margin: 5px 0;
}

.chat-card .head {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.chat-card .head .name {
  margin: 0;
}

.chat-card .head .name * {
  margin: 0;
}

.chat-card .head .author {
  margin: 0 5px;
  color: var(--light-text);
}

.chat-card .head .author * {
  margin: 0;
}

.chat-card .desc * {
  margin: 0;
}

.chooser h3 {
  font-size: 18px;
  color: var(--light-text);
  margin: 5px;
  border-bottom: 2px solid var(--light-text);
}

.chooser .list-item-card {
  width: calc(100% - 20px);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--main);
}

.chooser .list-item-card b {
  font-size: 16px;
}

.chooser .list-item-card p {
  font-size: 14px;
  color: var(--light-text);
}

.drag-bar {
  width: 100%;
  height: 30px;
  background-color: var(--highlights);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1000;
  -webkit-app-region: drag;
}

.tabs {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 30px;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.desktopApp .tabs {
  top: 80px;
}

.tab {
  width: 25%;
  height: 27px;
  background: var(--background);
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 3px var(--background) solid;
  padding-top: 2px;
}

.active {
  border-bottom: 3px var(--highlights) solid;
}

code {
  background: var(--background);
  color: var(--light-text);
  font-family: monospace;
  padding: 2px;
  border-radius: 2px;
  margin: 0 2px !important;
}

.temp {
  opacity: 0.5;
}

.offline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  padding-top: 200px;
  z-index: 2000;
}

.offline-logo {
  background-image: url("/media/image/icons/logo.png");
  width: 100px;
  height: 100px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.offline h3 {
  width: 300px;
  dispay: block;
}

.offline button {
  width: 300px;
  margin-top: 5px;
}

.rclick {
  position: fixed;
  width: 150px;
  background: var(--background);
  z-index: 500;
  overflow: hidden;
  border-radius: 5px;
}

.rclick .item {
  height: 20px;
  width: calc(100% - 10px);
  padding: 5px;
  font-size: 15px;
  line-height: 20px;
  position: relative;
  font-weight: bold;
}

.mobile .rclick {
  width: 100%;
  height: fit-content;
  max-height: calc(100% - 200px);
  position: fixed;
  bottom: 0; 
  left: 0;
  z-index: 2000;
  margin: 0;
  border-radius: 0px;
  animation: mobileswipeup 0.2s ease-out;
  background: var(--background);
  transition: all 0.2s ease-in;
}

.mobile .rclick .item {
  height: 25px;
  width: calc(100% - 40px);
  padding: 10px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 25px;
  position: relative;
  font-weight: bold;
}

.rclick .item:hover {
  background: var(--highlights);
}

.mobile .rclick .item:hover {
  background: unset;
}

.mobile .rclick .item:active {
  background: var(--highlights);
}

.rclick .item:active {
  background: var(--highlights);
}

.rclick .item img {
  width: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.mobile .rclick .item img {
  width: 25px;
  position: absolute;
  top: 10px;
  left: 7.5px;
  margin: 0;
}

.input-type {
  background: var(--background);
  width: calc(100% - 30px);
  height: 20px;
  font-size: 15px;
  position: fixed;
  bottom: 52px;
  left: 0;
  padding: 5px;
  padding-left: 25px;
  line-height: 20px;
}

.input-type span {
  text-decoration-line: underline;
  margin-right: 5px;
  color: var(--highlights);
}

.input-type span * {
  color: var(--highlights);
}

.input-type img {
  width: 15px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.chat-card .body {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.chat-card .buttons {
  height: 30px;
  position: relative;
}

.chat-card .buttons .left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.chat-card .buttons .right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.embed {
  width: 300px;
  min-height: 30px;
  padding: 10px;
  background: var(--background);
  border-radius: 10px;
  margin: 5px;
  position: relative;
}

.embed h3 {
  font-size: 15px;
  display: block;
  width: 250px;
  height: 20px;
  line-height: 20px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.embed p {
  font-size: 13px;
  color: var(--light-text);
  width: 250px;
  height: 20px;
  line-height: 20px;
  margin: 0;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.embed img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  object-fit: contain;
  border-radius: 5px;
}

.user-img {
  max-width: 300px;
  border-radius: 10px;
  background: var(--secondary);
}

.user-video {
  max-width: 300px;
  border-radius: 10px;
  background: var(--secondary);
}

.chooser .sidebar {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chooser .sidebar img {
  width: 30px;
  padding: 5px;
  margin: 0;
}

.chooser .sidebar img.on {
  background: var(--highlights);
}

.chooser input {
  width: calc(100% - 20px);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background: var(--secondary);
  border: none;
  color: var(--text);
}

.img-holder img {
  border-radius: 10px;
  width: 170px;
  height: 170px;
  object-fit: cover;
  margin: 2.5px;
}

.img-holder button {
  width: calc(100% - 10px);
  margin-bottom: 5px;
}

input[disabled] {
  color: var(--light-text);
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3000;
  backdrop-filter: blur(5px);
}

.overlay {
  width: 300px;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main);
}

.overlay .body {
  position: relative;
  width: 100%;
}

load {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main);
  z-index: 10000;
  justify-content: center;
  align-items: center;
}

load img {
  width: 150px;
}

.sp-l {
  margin-left: 5px;
}

.sp-r {
  margin-right: 5px;
}

.overlay button {
  width: 100%;
  margin-top: 5px;
}