:root {
  --main: #1E2124;
  --secondary: #26292E;
  --text: #F1F1F1;
  --light-text: #AAAAAA;
  --background: #131517;
  --highlights: #D80448;
  --warn: #E6D581;
  --success: #5BBD5B;
  --danger: #E60B42;
}

::-moz-selection {
  color: var(--text);
  background: var(--highlights);
  opacity: 0.9;
  padding: 2px;
  border-radius: 3px;
}

::selection {
  color: var(--text);
  background: var(--highlights);
  opacity: 0.9;
  padding: 2px;
  border-radius: 3px;
}

* {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  transition: all 0.1s ease-in-out;
  outline: none;
  scroll-behavior: smooth;
  color: var(--text);
  user-select: none;
}

reply {
  font-size: 12px;
  marin-bottom: 1px;
  color: var(--highlights);
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--main);
  overflow-x: hidden;
}

html.desktopApp {
  height: calc(100% - 30px);
}

button {
  background-color: var(--highlights);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  min-width: 75px;
  font-weight: bold;
  color: var(--text);
}

button:active {
  transform: scale(0.95);
}

input[type=text], input[type=color], select, option, input[type=password] {
  background-color: var(--secondary);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  width: 200px;
  font-weight: bold;
  margin: 5px;
  color: var(--text);
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--highlights);
  color: var(--text);
}

nav {
  height: 50px;
  width: 100%;
  background-color: var(--highlights);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  z-index: 999;
  color: var(--text);
}

.desktopApp nav {
  top: 30px;
}

nav img {
  width: 30px;
  height: 30px;
}

nav a:hover {
  opacity: 0.8;
}

nav a {
  text-decoration: none;
  color: var(--text);
}
  
#home {
  margin: 0;
  width: 120px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  display: flex;
  color: var(--text);
}

.lined {
  text-align: center;
  position: relative;
  font-size: 30px;
  background-color: var(--main);
  width: fit-content;
  padding: 10px;
  font-weight: bold;
  color: var(--text);
}

.lined::after {
  content: '';
  display: block;
  width: 100vw;
  height: 3px;
  background-color: var(--text);
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  color: var(--text);
}

.center {
  margin-top: 100px;
  color: var(--text);
}

.desktopApp .center {
  margin-top: 130px;
}

.user {
  position: fixed;
  left: 10px;
  color: var(--text);
}

.settings {
  position: fixed;
  right: 10px;
  color: var(--text);
}

.logo {
  width: 30px;
  height: 30px;
  margin: 5px;
  color: var(--text);
}

.bottom-nav {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  z-index: 99999999999999;
  border-top: 2px solid var(--highlights);
}

#msginp {
  width: calc(100% - 137.5px);
  height: 20px;
  color: var(--text);
  border-radius: 5px;
}

#msginp:focus {
  box-shadow: none;
}

.messageContent * {
  margin: 0;
}

.icon {
  width: 20px;
  height: 20px;
  padding: 5px;
  color: var(--text);
  background: var(--highlights);
  border-radius: 5px;
}

.icon:active {
  transform: scale(0.95);
}

#log {
  height: calc(100vh - 102px);
  width: 100vw;
  margin-top: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

.desktopApp #log {
  margin-top: 80px;
  height: calc(100vh - 132px);
}

.msg, .msgr {
  padding: 0px 5px;
  margin: 0;
  width: calc(100% - 5px);
  display: block;
  cursor: normal;
  position: relative;
  height: fit-content;
  color: var(--text);
}

.top {
  margin-top: 5px;
}


.msg:hover, .msgr:hover {
  background-color: var(--background);
}

a {
  color: var(--highlights);
}

.lt {
  color: var(--light-text);
}

spoiler {
  background-color: var(--text);
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
}

spoiler[clicked=true]{
  background-color: transparent;
}

.none {
  display: none;
}

.sttn {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
}

.desktopApp .sttn {
  top: 90px;
}

.lgin {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
}

.desktopApp .lgin {
  top: 130px;
}

.lgin button {
  width: calc(50% - 3px);
  margin: 0;
}

.sttn input, .sttn select, .lgin input {
  margin: 0;
  margin-bottom: 10px;
}

.lgin input {
  width: calc(100% - 12px);
}

.emoji {
  width: 20px;
  height: 20px;
  margin: 0 2px 3px 2px;
}

.emoji:active {
  transform: scale(1.1);
}

.msgr:hover::after {
  content: "Reply";
  position: absolute;
  top: 0px;
  right: 10px;
  border: none;
  height: 20px;
  width: 45px;
  background: var(--main);
  border-radius: 5px 5px 0 0;
  padding: 1px 5px;
  border-left: 2px solid var(--text);
  border-top: 2px solid var(--text);
  border-right: 2px solid var(--text);
  text-align: center;
  color: var(--text);
}

.msgr:hover::before {
  content: "Copy";
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  height: 20px;
  width: 45px;
  background: var(--main);
  border-radius: 0 0 5px 5px;
  padding: 1px 5px;
  border-left: 2px solid var(--text);
  border-bottom: 2px solid var(--text);
  text-align: center;
  border-right: 2px solid var(--text);
  color: var(--text);
  z-index: 99;
}

.reply {
  position: absolute;
  top: 0px;
  right: 10px;
  border: none;
  height: 20px;
  width: 45px;
  background: var(--main);
  border-radius: 5px 5px 0 0;
  padding: 1px 5px;
  border-left: 2px solid var(--text);
  border-top: 2px solid var(--text);
  border-right: 2px solid var(--text);
  text-align: center;
  z-index: 99;
  opacity: 0;
  user-select: none;
  color: var(--text);
}

.copy {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  height: 20px;
  width: 45px;
  background: var(--main);
  border-radius: 0 0 5px 5px;
  padding: 1px 5px;
  border-left: 2px solid var(--text);
  border-bottom: 2px solid var(--text);
  text-align: center;
  z-index: 99;
  opacity: 0;
  user-select: none;
  color: var(--text);
}

.notif {
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 75px;
  max-width: 275px;
  min-height: 30px;
  max-height: 100px;
  background-color: var(--main);
  display: flex;
  align-items: center;
  color: var(--text);
  justify-content: center;
  font-weight: bold;
  z-index: 999;
  animation: fadein 0.1s;
  padding: 2.5px 5px;
  border-radius: 5px;
}

.desktopApp .notif {
  top: 105px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.emoji-chooser {
  position: fixed;
  bottom: 50px;
  right: 0px;
  background-color: var(--background);
  height: 120px;
  width: 200px;
  border-radius: 10px 0 0 0;
  overflow: auto;
  animation: swipeup 0.2s ease-out;
  border-top: 2px solid var(--highlights);
  border-left: 2px solid var(--highlights);
  scrollbar-width: none;
  z-index: 99999999999;
}

.list-item {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.list-item:hover {
  background: var(--main);
}

.list-item:active {
  width: 25px;
  height: 25px;
  padding: 7.4px;
}

@keyframes swipeup {
  from {
    bottom: -200px;
    z-index: 0;
  } to {
    bottom: 50px;
    z-index: 0;
  }
}

.nav-emoji-picker::before {
  content: "";
  width: 200px;
  position: absolute;
  top: -2px;
  right: 0;
  height: 2px;
  background: var(--background);
  z-index: 999999999999999;
}

@keyframes swipedown {
  from {
    bottom: 50px;
    z-index: 0;
  } to {
    bottom: -200px;
    z-index: 0;
  }
}

a {
  margin: 0;
}

reply {
  margin: 0;
}

warn {
  width: fit-content;
  max-width: 300px;
  margin: 5px;
  color: var(--warn);
  box-shadow: 0 0 0 2px var(--warn);
  padding: 5px;
  border-radius: 5px;
  text-size: 17px;
  display: block;
}

.messageContent {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

reply * {
  color: var(--highlights);
}

reply {
  display: block;
  width: 100%;
}

.replyBlock {
  width: 100%;
  display: block;
}

.cards {
  max-width: 600px;
  min-width: 300px;
  height: calc(100% - 90px);
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 5px;
}

.desktopApp .cards {
  top: 120px;
  height: calc(100% - 120px);
}

.chat-card {
  width: calc(100% - 20px);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--background);
}

.chat-card .head {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.chat-card .head .name {
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.chat-card .head .name * {
  margin: 0;
}

.chat-card .head .author {
  margin: 0 5px;
  color: var(--light-text);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.chat-card .head .author * {
  margin: 0;
}

.chat-card .desc {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.chat-card .desc * {
  margin: 0;
}

.emoji-chooser h3 {
  font-size: 18px;
  color: var(--light-text);
  margin: 5px;
  border-bottom: 2px solid var(--light-text);
}

.emoji-chooser .list-item-card {
  width: calc(100% - 20px);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--main);
}

.emoji-chooser .list-item-card b {
  font-size: 16px;
}

.emoji-chooser .list-item-card p {
  font-size: 14px;
  color: var(--light-text);
}

.drag-bar {
  width: 100%;
  height: 30px;
  background-color: var(--highlights);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1000;
  -webkit-app-region: drag;
}

.tabs {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 30px;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.desktopApp .tabs {
  top: 80px;
}

.tab {
  width: 25%;
  height: 27px;
  background: var(--background);
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 3px var(--background) solid;
  padding-top: 2px;
}

.active {
  border-bottom: 3px var(--highlights) solid;
}

code {
  background: var(--background);
  color: var(--light-text);
  font-family: monospace;
  padding: 2px;
  border-radius: 2px;
  margin: 0 2px !important;
}